@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #07374a;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #07374a;
    --foreground: #ededed;
  }
}

@layer components {
  .progress-bar {
    @apply transition-all duration-1000 ease-out;
    transform-origin: left;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  cursor: url('../public/pointers/Blackcursor.png') 8 8, auto;
  scroll-behavior: smooth;
}

/* Optional: Disable custom cursor on buttons/links */
button, a , #projects div{
  cursor: url('../public/pointers/handpointer.png') 8 8, auto !important;
}

section {
  scroll-margin-top: 100px;
}